node_modules
public
.DS_Store
.tmp
.sass-cache
.idea
client/bower_components
client/index.html
dist
npm-debug.log
coverage

#this should be ignoring all environment files but not sure it's working
*/.env

#ignore the app secrets file
server/config/local.env.js