@charset "UTF-8";
/*——————————————————
    VARIABLES
——————————————————*/
html {
  font-family: "proxima-nova", sans-serif;
}
html .main-container {
  padding: 2em;
}

.header {
  padding-bottom: 2em;
}
.header .navbar .container {
  display: grid;
  grid-template-columns: 10% auto;
}
.header .navbar .container .navbar-right {
  justify-self: right;
}
.header .navbar .container .navbar-right .navbar-menu {
  list-style: none;
  display: grid;
  grid-template-columns: 7em 7em;
  text-align: right;
}

.homepage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  margin-bottom: 40px;
}
.homepage-wrapper .hero-unit {
  font-size: 2em;
  font-weight: 100;
}
.homepage-wrapper .homepage-module {
  border: 3px solid #ff0049;
  border-radius: 6px;
}
.homepage-wrapper .homepage-module .module-header {
  background-color: #ff0049;
  color: #ffffff;
  padding: 0.8em 1.2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.homepage-wrapper .homepage-module .module-header h3 {
  margin: 0;
  font-size: 20px;
}
.homepage-wrapper .homepage-module .module-header h3:nth-child(1) {
  font-weight: 700;
}
.homepage-wrapper .homepage-module .module-header h3:nth-child(2) {
  text-align: right;
}
.homepage-wrapper .homepage-module .module-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 1em;
  padding: 1em 1.2em;
}
.homepage-wrapper .homepage-module h5.module-label {
  font-weight: 700;
  padding-bottom: 0.4em;
}

.homepage-content .homepage-cta {
  margin-bottom: 40px;
}
.homepage-content .homepage-cta h2 {
  text-align: center;
}
.homepage-content .homepage-cta .cta-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.homepage-content .run-benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3em;
}
.homepage-content .run-benefits .benefit-img {
  width: 50%;
  margin: 0 auto;
}
.homepage-content .run-benefits img {
  width: 100%;
}
.homepage-content .run-benefits h2 {
  color: #ff0049;
  text-align: center;
  font-size: 1.4em;
  padding-bottom: 0.4em;
}

.create-event {
  padding-top: 3em;
}
.create-event a {
  font-size: 2em;
}

/* ————————————————————
    create-event.html
——————————————————————— */
.create-event h1 {
  font-size: 2em;
  padding-bottom: 1em;
}
.create-event .create-event-form {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.create-event .create-event-form .input-field {
  padding-bottom: 2em;
}
.create-event .create-event-form label {
  padding: 1em 0em 0.6em;
  display: block;
}
.create-event .create-event-form input, .create-event .create-event-form textarea {
  height: 30px;
  padding: 0em 1em;
  border: 2px solid pink;
  border-radius: 7px;
}
.create-event .create-event-form input::-webkit-input-placeholder, .create-event .create-event-form textarea::-webkit-input-placeholder {
  color: #cccccc;
}
.create-event .create-event-form textarea {
  height: 60px;
  padding: 1em;
}
.create-event .submit-form {
  height: 70px;
  background: linear-gradient(-216deg, #FFEB3B, #00BCD4);
  box-shadow: 1px -4px 13px 4px #6388f5;
  transition: all 0.2s ease-in-out;
  padding: 0em 3em;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 3em;
  text-shadow: -7px -2px 14px #db12fb;
  cursor: pointer;
}
.create-event .submit-form:hover {
  background: linear-gradient(-166deg, #d0f312, #ff3ba2);
  box-shadow: 8px -5px 20px 5px #2de20e;
  transform: rotate(5deg);
}
.create-event .submit-form:active {
  background: linear-gradient(-216deg, #00BCD4, #FFEB3B);
  box-shadow: -4px 17px 20px 5px #e27c0e;
  transform: rotate(10deg);
}

/* ————————————————————
    event-template.html
——————————————————————— */
.event-details .event-details-left .event-name {
  font-size: 2em;
  font-weight: 100;
  padding-bottom: 2em;
}
.event-details .event-details-right {
  display: grid;
  grid-template-columns: 15% 25% 30% 30%;
}
.event-details .event-details-right > * {
  padding-bottom: 0.6em;
  font-size: 1.2em;
  font-weight: 100;
  color: #ff0049;
}
.event-details .event-description {
  padding-top: 2em;
  line-height: 1.2;
}

/*# sourceMappingURL=index.css.map */
