
.cta-button {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 20em;
    border-radius: .6em;
    text-decoration: none;
    i {
      margin: 0.6em 0.6em 0.6em 0.8em;
      color: #fff;
      font-size: 2em;
    }
    p {
      font-weight: 700;
      color: #fff;
      margin: 1.2em 0em 1em 0em;;
      font-size: 1.2em;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .cta-facebook {
    background-color: #3c5a99;
  }
  .cta-twitter {
    background-color: #7ca5da;
  }