<!DOCTYPE html>
<!-- stuff -->
<head>
  <link type="text/css" rel="stylesheet" href="/css/reset.css">
  <link type="text/css" rel="stylesheet" href="/css/index.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

  <script src="/js/common.js"></script>

  <link rel="stylesheet" href="https://use.typekit.net/xnd4fff.css">
</head>

<div class="main-container">
    <div class="header"></div>
    <div class="event-details">
        <div class="event-details-left">
            <div class="event-name">
                <p>{{ name }}</p>
            </div>
        </div>
        <div class="event-details-right">
            <div class="event-time">
                <p>{{ date }}</p>
            </div>
            <div class="event-date">
                <p>{{ time }}</p>
            </div>
            <div class="event-location">
                <p>{{ location }}</p>
            </div>
            <div class="event-address">
                <p>{{ address }}</p>
            </div>
        </div>
        <div class="event-description">
            <p>{{ description }}</p>
        </div>
    </div>
</div>
