$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

*[ng-click] {
    cursor: pointer;
	}


	.bold {
		font-weight: 700;
	}

::selection {
	background-color: rgba(41, 190, 183, 0.3);
	color: #545454;
}

body {
	font-family: "proxima-nova",sans-serif;
	-webkit-font-smoothing: antialiased;
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar {
	border-bottom: 3px solid #29beb7;
	background-color: #fff;
	min-height: 100px;
	margin-bottom: 40px;
	.navbar-header {
		img {
			width: 45%;
		}
	}
}

footer {
	margin-top: 40px;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import 'profile/profile';
@import 'singleEvent/singleEvent';
@import '../components/createEvent/createEvent';
@import '../components/eventDetails/eventDetails';
@import '../components/events/events';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
