<div class="container events-page">
    <h1>Upcoming Events</h1>

    <section class="upcoming-events">
            <div href="#" class="upcoming-event" ng-click="/singleEvent">
                <h2>8/27</h2>
                <h2>9:00AM</h2>
                <div class="upcoming-event-name">
                    <h2>Running is the Mission</h2>
                    <p class="address-label">Address</p>
                    <p>3000 E Calhoun Parkway, Minneapolis, MN 55408</p>
                </div>
                <h2><a href="/singleEvent" class="join-upcoming-event">Join</a></h2>
            </div>
    </section>

    <h1>Past Events</h1>
    <section class="past-events">
            <div class="past-event">
                <p>8/27</p>
                <div class="past-event-name">
                    <p>Memorial Day Run</p>
                </div>
            </div>
            <div class="past-event">
                <p>8/27</p>
                <div class="past-event-name">
                    <p>We Rock Running Shoes</p>
                </div>
            </div>
            <div class="past-event">
                <p>8/27</p>
                <div class="past-event-name">
                    <p>MIXTAPE "Sweat So Much" Edition</p>
                </div>
            </div>
            <div class="past-event">
                <p>8/27</p>
                <div class="past-event-name">
                    <p>Runners Must Run Lakes Before Returning To Work</p>
                </div>
            </div>
            <div class="past-event">
                <p>8/27</p>
                <div class="past-event-name">
                    <p>run, and ye shall find hills</p>
                </div>
            </div>
    </section>


</div>
