.thing-form {
  margin: 20px 0;
}

#banner h1 {
  width: 50%;
}

.hero-unit {
  position: relative;
  padding: 20px 15px;
  color: #353535;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-text {
  margin-left: 15px;
}
