<section class="container homepage-wrapper">
  
    <article class="hero-unit" id="banner">
      <h1>Running for a Purpose is a weekly running club in Minneapolis.</h1>
    </article>

    <article class="homepage-module">
      <div class="module-header">
        <h3>Next Event</h3>
        <h3>Saturday, April 29<sup>th</sup></h3>
      </div>
      <div class="module-content">
        <div class="module-address">
          <h5 class="module-label">Address</h5>
          <p>7620 16th Ave S<br>Richfield, MN 55423</p>
        </div>
        <div class="module-time">
          <h5 class="module-label">Time</h5>
          <p>9:00AM</p>
        </div>
        <div class="module-attending">
          <h5 class="module-label"># Attending</h5>
          <p>51</p>
        </div>
      </div>
    </article>

</section>
<section class="container homepage-content">

<div class="homepage-cta">
  <h2>Join the club and reach your goals</h2>
  <div class="cta-content">
    <p>Attend weekly events, track your progress & meet fun people along the way!</p>
    <oauth-buttons classes="btn-block"></oauth-buttons>    
    <a ng-class="classes" class="cta-button" ng-click="OauthButtons.loginOauth('facebook')">
      <img src="../assets/images/facebook-logo.svg" />
      <p>Continue with Facebook</p>
    </a>
  </div>
</div>

<div class="run-benefits">
  <div class="passion">
    <div class="benefit-img">
      <img src="./assets/images/home/passion-icon.png" />
    </div>
    <h2>Passionate Runners</h2>
    <p>Everyone has their own reasons for running, but the unifying layer beneath it all is Passion. We believe putting 100% into something yields the most rewarding experiences. Run with Purpose!</p>
  </div>
  <div class="community">
    <div class="benefit-img">
      <img src="./assets/images/home/community-icon.png" />
    </div>
    <h2>Building Community</h2>
    <p>We believe in building authentic friendships with each other as we train! Running is so much more fun with friends — especially during those -10º sessions ;-)</p>
  </div>
  <div class="coffee">
    <div class="benefit-img">
      <img src="./assets/images/home/coffee-icon.png" />
    </div>
    <h2>Coffee Addicts</h2>
    <p>We run, and then we drink coffee! It’s the perfect combination. Following each run, we meet at a local coffee shop around Uptown and hang out before starting the weekend.</p>
  </div>

</section>

<div class="container">
  <div class="row">
    <div class="homepage col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul>
        <li class="col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings"><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
