.thing-form {
  margin: 20px 0;
}

#banner h1 {
  font-weight: 300;
  margin: 0;
}

.container {
  &:before, &:after {
    content: none;
    display: none;
  }  
}

.homepage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  margin-bottom: 40px;

  .homepage-module {
    border: 3px solid #ff0049;
    border-radius: 6px;

    .module-header {
      background-color: #ff0049;
      color: #fff;
      padding: 0.8em 1.2em;
      display: grid;
      grid-template-columns: 1fr 2fr;
      h3 {
        margin: 0;
        font-size: 20px;
      }
      h3:nth-child(1) {
        font-weight: 700;
      }
      h3:nth-child(2) {
        text-align: right;
      }
    }

  .module-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 1em;
    padding: 0em 1.2em;
  }

  h5.module-label {
      font-weight: 700;
    }
  }
}

.homepage-content {

  .homepage-cta {
    margin-bottom: 40px;
    h2 {
      text-align: center;
    }
    .cta-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .cta-button {
        background-color: #3c5a99;
        display: grid;
        grid-template-columns: 1fr 6fr;
        width: 20em;
        border-radius: .6em;
        img {
          width: 2em;
          margin: 1em 1em 1em 1.6em;
        }
        p {
          font-weight: 700;
          color: #fff;
          margin: 1em 0em;
          font-size: 1.2em;
        }
      }
    }


  }

  .run-benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
    .benefit-img {
      width: 50%;
      margin: 0 auto;
    }    
    img {
      width: 100%
    }
    h2 {
      color: #ff0049;
      text-align: center;
    }
  }
} //end .homepage-content

.navbar-text {
  margin-left: 15px;
}

.homepage {
  ul {
    li {
      list-style-type: none;
      margin: 1em 0;
      a {
        padding: 1em 2em;
        &:hover {
          background-color: #f3f3f3;
          text-decoration: none;
        }
      }
    }
  }
} //end .homepage